acpi
apt
apt-utils
aptitude
bc
ccache
cmake
cmake-curses-gui
cron
emacs
git
hddtemp
htop
ibus-mozc
indicator-multiload
ipython
libgnome2-bin
libnotify-bin
lm-sensors
mlocate
nkf
ntp
python
python-pip
python-setuptools
rlwrap
ssh
sudo
wget
xdg-user-dirs-gtk
xsel
